.carousel {
    padding: 2rem 0;
}


.carousel img {
    height: 80vh;
    object-fit: cover;
}

.thumbs-wrapper, .carousel-status {
    display: none;
}

@media screen and (max-width: 940px) {
    .carousel img {
        height: 40vh;
    }
}